h1 {
  font-family: "Montserrat", sans-serif;
}

#main {
  padding: 0;
}

#main h1{
  padding-top: 50px;
  padding-bottom: 35px;
}

.with-spacing {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 20px;
}

.jumbotron {
  padding-bottom: 10px;
  padding-top: 30px;
  margin-bottom: 0;
}

.container, .container-fluid {
  padding: 60px 50px;
}

.text-container {
  margin-left: auto;
  margin-right: auto;
  width: 275px;
  text-align: left;
  line-height: 250%;
}

.contact-icon {
  width: 25px;
  margin-left: 20px;
  margin-right: 15px;
}

.contact-option {
  width: 285px;
  height: 35px;
  background-color: #437ac1;
  border-radius: 30px;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
}

.padding-top-60px {
  padding-top: 60px;
}

.thumbnail {
  padding: 0 0 15px 0;
  border: None;
  border-radius: 0;
}

.thumbnail img {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}

footer {
  position: absolute;
  padding-bottom: 45px;
  width: 100%;
  height: 25px;
  bottom: 0px;
}
