body {
  font-family: "Overpass", sans-serif;
}

h2 {
  font-family: "Montserrat", sans-serif;
  padding-bottom: 15px;
}

.jumbotron {
  background-color: #437ac1;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}

.bg-grey {
  background-color: #f6f6f6;
}

.item h4 {
  font-size: 19px;
  line-height: 1.375em;
  font-weight: 400;
  margin: 70px 0;
}

footer .glyphicon {
  font-size: 20px;
  margin-bottom: 20px;
  color: #437ac1;
}
